{% extends 'base.twig' %}

{% block content %}
<h1>Charity Events</h1>
<ul class="list-group">
    <li class="list-group-item"><a href="/event_categories/charity/fundraisers">Fundraisers</a></li>
    <li class="list-group-item"><a href="/event_categories/charity/charity_galas">Charity Galas</a></li>
    <li class="list-group-item"><a href="/event_categories/charity/benefit_concerts">Benefit Concerts</a></li>
    <li class="list-group-item"><a href="/event_categories/charity/community_events">Community Events</a></li>
</ul>
{% endblock %}
