{% extends 'base.twig' %}

{% block content %}
<h1>Children’s Parties</h1>
<ul class="list-group">
    <li class="list-group-item"><a href="/event_categories/children/birthday_parties">Birthday Parties</a></li>
    <li class="list-group-item"><a href="/event_categories/children/school_events">School Events</a></li>
    <li class="list-group-item"><a href="/event_categories/children/family_festivals">Family Festivals</a></li>
</ul>
{% endblock %}
