{% extends 'base.twig' %}

{% block content %}
<h1>Cultural & Religious Events</h1>
<ul class="list-group">
    <li class="list-group-item"><a href="/event_categories/cultural/bar_bat_mitzvahs">Bar/Bat Mitzvahs</a></li>
    <li class="list-group-item"><a href="/event_categories/cultural/quinceaneras">Quinceañeras</a></li>
    <li class="list-group-item"><a href="/event_categories/cultural/cultural_celebrations">Cultural Celebrations</a></li>
    <li class="list-group-item"><a href="/event_categories/cultural/religious_ceremonies">Religious Ceremonies</a></li>
</ul>
{% endblock %}
