{% extends 'base.twig' %}

{% block content %}
<h1>{{ 'Event Categories' }}</h1>
<ul class="list-group">
    {% for category in categories %}
    <li class="list-group-item">
        <a href="/event_categories/{{ category.slug }}">{{ category.name }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
