{% extends 'base.twig' %}

{% block content %}
<h1>Fashion Events</h1>
<ul class="list-group">
    <li class="list-group-item"><a href="/event_categories/fashion/runway_shows">Runway Shows</a></li>
    <li class="list-group-item"><a href="/event_categories/fashion/fashion_week">Fashion Week Events</a></li>
    <li class="list-group-item"><a href="/event_categories/fashion/store_openings">Store Openings & Launches</a></li>
</ul>
{% endblock %}
