{% extends 'base.twig' %}

{% block content %}
<h1>Festivals & Large-Scale Events</h1>
<ul class="list-group">
    <li class="list-group-item"><a href="/event_categories/festivals/music_festivals">Music Festivals</a></li>
    <li class="list-group-item"><a href="/event_categories/festivals/street_festivals">Street Festivals</a></li>
    <li class="list-group-item"><a href="/event_categories/festivals/cultural_festivals">Cultural Festivals</a></li>
    <li class="list-group-item"><a href="/event_categories/festivals/outdoor_events">Outdoor Events</a></li>
</ul>
{% endblock %}
