{% extends 'base.twig' %}

{% block content %}
<h1>Funerals & Memorial Services</h1>
<ul class="list-group">
    <li class="list-group-item"><a href="/event_categories/funerals/memorial_services">Memorial Services</a></li>
    <li class="list-group-item"><a href="/event_categories/funerals/wakes">Wakes</a></li>
    <li class="list-group-item"><a href="/event_categories/funerals/celebration_of_life">Celebration of Life Events</a></li>
</ul>
{% endblock %}
