{% extends 'base.twig' %}

{% block content %}
<h1>Graduation Parties</h1>
<ul class="list-group">
    <li class="list-group-item"><a href="/event_categories/graduation/high_school">High School Graduations</a></li>
    <li class="list-group-item"><a href="/event_categories/graduation/college_university">College/University Graduations</a></li>
    <li class="list-group-item"><a href="/event_categories/graduation/post_graduation">Post-Graduation Celebrations</a></li>
</ul>
{% endblock %}
