{% extends 'base.twig' %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">Countries</h1>
    <h2 class="text-center mb-4">Discover DJs Around the Globe</h2>
    <p class="lead text-center mb-4">Explore talented DJs available in various countries and find the perfect match for your event.</p>

    <div class="row">
        <!-- Search Form -->
        <div class="col-md-12 mb-3">
            <form action="/search-countries" method="GET" class="search-form">
                <input type="text" name="query" placeholder="City, etc" class="search-input">
                <button type="submit" class="search-button">Find artists</button>
            </form>
        </div>

        <!-- Display Country Cards -->
        <div class="d-flex flex-wrap justify-content-center mb-5">
            {% for country in countries %}
                <div class="country-card mx-2 mb-4" style="flex: 1 1 250px; max-width: 250px;">
                    <a href="/locations/{{ country.country_code }}" class="text-decoration-none">
                        <div class="card border-light shadow-sm">
                            <div class="card-body d-flex align-items-center">
                                <i class="fas fa-globe fa-2x me-3"></i>
                                <div>
                                    <h5 class="card-title mb-1">{{ country.country_name }}</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

       
{% endblock %}
