{% extends 'base.twig' %}

{% block content %}
<h1>Nightlife & Club Events</h1>
<ul class="list-group">
    <li class="list-group-item"><a href="/event_categories/nightlife/club_nights">Club Nights</a></li>
    <li class="list-group-item"><a href="/event_categories/nightlife/special_guest_dj">Special Guest DJ Events</a></li>
    <li class="list-group-item"><a href="/event_categories/nightlife/themed_parties">Themed Parties</a></li>
    <li class="list-group-item"><a href="/event_categories/nightlife/resident_dj">Resident DJ Bookings</a></li>
</ul>
{% endblock %}
