{% extends 'base.twig' %}

{% block content %}
<h1>Private Parties</h1>
<ul class="list-group">
    <li class="list-group-item"><a href="/event_categories/private/house_parties">House Parties</a></li>
    <li class="list-group-item"><a href="/event_categories/private/birthday_parties">Birthday Parties</a></li>
    <li class="list-group-item"><a href="/event_categories/private/themed_parties">Themed Parties</a></li>
    <li class="list-group-item"><a href="/event_categories/private/anniversary_celebrations">Anniversary Celebrations</a></li>
    <li class="list-group-item"><a href="/event_categories/private/bachelor_bachelorette">Bachelor/Bachelorette Parties</a></li>
</ul>
{% endblock %}
