{% extends 'base.twig' %}

{% block content %}
<h1>School & University Events</h1>
<ul class="list-group">
    <li class="list-group-item"><a href="/event_categories/school/proms">School Dances</a></li>
    <li class="list-group-item"><a href="/event_categories/school/university_socials">University Socials</a></li>
    <li class="list-group-item"><a href="/event_categories/school/fundraising_events">Fundraising Events</a></li>
    <li class="list-group-item"><a href="/event_categories/school/college_reunions">College Reunions</a></li>
</ul>
{% endblock %}
