{% extends 'base.twig' %}

{% block content %}
<h1>Seasonal & Holiday Events</h1>
<ul class="list-group">
    <li class="list-group-item"><a href="/event_categories/seasonal/new_years_eve">New Year’s Eve Parties</a></li>
    <li class="list-group-item"><a href="/event_categories/seasonal/halloween_parties">Halloween Parties</a></li>
    <li class="list-group-item"><a href="/event_categories/seasonal/christmas_parties">Christmas Parties</a></li>
    <li class="list-group-item"><a href="/event_categories/seasonal/easter_events">Easter Events</a></li>
</ul>
{% endblock %}
