{% extends 'base.twig' %}

{% block content %}
<h1>Sports Events</h1>
<ul class="list-group">
    <li class="list-group-item"><a href="/event_categories/sports/half_time_shows">Half-time Shows</a></li>
    <li class="list-group-item"><a href="/event_categories/sports/after_parties">After-Parties</a></li>
    <li class="list-group-item"><a href="/event_categories/sports/fitness_events">Fitness Events</a></li>
</ul>
{% endblock %}
