{% if djs is not empty %}
    <ul>
        {% for dj in djs %}
            <li>{{ dj.name }} - {{ dj.genre }} - {{ dj.price }} - {{ dj.country_name }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No DJs available for this category at the moment.</p>
{% endif %}
