{% extends 'base.twig' %}

{% block content %}
<h1>Virtual Events</h1>
<ul class="list-group">
    <li class="list-group-item"><a href="/event_categories/virtual/online_conferences">Online Conferences & Webinars</a></li>
    <li class="list-group-item"><a href="/event_categories/virtual/virtual_parties">Virtual Parties</a></li>
    <li class="list-group-item"><a href="/event_categories/virtual/live_streamed_dj">Live Streamed DJ Sets</a></li>
</ul>
{% endblock %}
