{% extends 'base.twig' %}

{% block content %}
<h1>Weddings</h1>
<ul class="list-group">
    <li class="list-group-item"><a href="/event_categories/weddings/traditional">Traditional Weddings</a></li>
    <li class="list-group-item"><a href="/event_categories/weddings/destination">Destination Weddings</a></li>
    <li class="list-group-item"><a href="/event_categories/weddings/themed">Themed Weddings</a></li>
    <li class="list-group-item"><a href="/event_categories/weddings/elopements">Elopements</a></li>
    <li class="list-group-item"><a href="/event_categories/weddings/vow_renewals">Vow Renewals</a></li>
</ul>
{% endblock %}



